<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container container--xxxl">
      <div class="text--center">
        <h2 class="core-title core-title--xl">Ti abbiamo incuriosito ma sei in cerca di altro?</h2>
        <div class="container container--no-padding container--lg">
          <p class="text--lg vpad--xs">Abbiamo offerte di viaggio per tutti i gusti, con noi puoi risparmiare fino al 70% sul tua prossima vacanza!</p>
          <div class="space--xxs"></div>
          <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">Scopri di più</a>
        </div>
      </div>
    </div>
  </div>
</div>
