<div class="{{include.block}}">
  <a class="{{include.block}}-link" href="https://it.secretescapes.com/offerte-in-corso?utm_source=SE&utm_medium=hub&utm_campaign=barbados_IT">Offerte in Corso</a>
  <a class="{{include.block}}-link" href="https://it.secretescapes.com/come-funziona?utm_source=SE&utm_medium=hub&utm_campaign=barbados_IT">Come Funziona</a>
  <a class="{{include.block}}-link" href="https://it.secretescapes.com/offerta-voucher?utm_source=SE&utm_medium=hub&utm_campaign=barbados_IT">Buoni Regalo</a>
  <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.title }}</a>
</div>
