<div class="{{include.block}}">
  <a class="{{include.block}}-link" href="https://www.evasionssecretes.fr/vente-promotion?utm_source=SE&utm_medium=hub&utm_campaign=barbados_FR">Ventes en cours</a>
  <a class="{{include.block}}-link" href="https://www.evasionssecretes.fr/collection-eco-friendly/filtre?utm_source=SE&utm_medium=hub&utm_campaign=barbados_FR">Nos hôtels éco-friendly</a>
  <a class="{{include.block}}-link" href="https://www.evasionssecretes.fr/vols-inclus/filtre?utm_source=SE&utm_medium=hub&utm_campaign=barbados_FR">Circuits & combinés</a>
  <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.title }}</a>
</div>
