<div class="offer shadow">

  <a class="offer__link" href="{{offer.link}}"><span class="btn btn--orange">SCOPRI L'OFFERTA</span></a>

  <div class="bg-img bg-img--3-2" style="background-image: url('{{offer.image}}')">
    {% if offer.flight-tag | where: 'flight-tag', 'true' %}
      <img class="flight-tag" src="{{site.img}}/icons/flights-incl.png" alt="FLÜGE INKLUSIVE">
    {% endif %}
  </div>

  <div class="offer__content">

    <h3 class="core-title title title--xs">{{offer.title}}</h3>
    <h4 class="offer__location">{{offer.location}}</h4>
    <div class="offer__description">{{offer.description}}</div>

    <div class="offer__bottom">
      {% if offer.saved %}
        <div class="offer__saved">
          <div class="offer__saved-label">Risparmia fino al&nbsp;</div>
          <div class="offer__saved-percent">{{offer.saved}}%</div>
        </div>
      {% endif %}
      <div class="offer__details">
        <div>A partire da <span class="offer__price">{{offer.price}}€</span></div>
        <div class="text--sm">{{offer.price-description}}</div>
      </div>
      <div class="offer__arrow"></div>
    </div>

  </div>

</div>
